body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #181818;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.text-primary{
    color:#FD6E0A;
}
nav > ul {
    display: flex;
}
ul > li{
    list-style: none;
}
ul > li > a{
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-right: 50px;
}